/* Write some CSS below */
body{
	background-color: #ffdecf;
	color: #3f4441;
	font-family: 'Cardo', serif;
	margin: 0;
	text-align: center;
}

body h1,h2{
	color: #ffdecf;
}

a{
	color: #b83b5e;
	text-decoration: none;
	background-color:#ffdecf;
	padding: 16px 48px;
	border-radius: 2px;
	display: inline-block;
	font-weight: bold;
	margin-top: 30px;
}

a:hover{
	color: #36151E;
}

#banner{
	background-image: url(images/background.jpg);
	background-position: center;
	background-size: cover;
	height: 250px;
	padding: 150px 0;
}

.card-white{
	background-color: white;
	width: 250px;
	border-radius: 6px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
	padding: 18px;
	margin-bottom: 20px;
}

.card-white img{
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 2px;
}

.container{
	width: 800px;
	margin: auto;
	margin-top: 30px;
}

#footer{
	background-color: #e4e3e3;
	padding: 15px 0;
	margin-top: 50px;
}

.cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}

.container h3 { 
text-align: left;
margin-top: 20px;
margin-bottom: 20px;
}

@media (max-width: 800px) {
	.cards {
		grid-template-columns: 1fr;
	}

	.card-white{
		width: auto;
	}
}

@media (min-width: 500px) {
	.container {
		width: 400px;
	}
}

@media (min-width: 800px) {
	.container {
		width: 600px;
	}
}

@media (min-width: 1000px) {
	.container {
		width: 800px;
	}
}